*{
	box-sizing:border-box;
}
body{
	padding-top: 50px;
	background-color: #C0C0C0;
}
div{
	font-weight: bold;
}
.myContainer{
	max-width: 960px;
	margin: 0 auto;
}
.ch1_button{
	padding: .3em .8em;
	border:1px solid rgba(0,0,0,.1);
	background: black linear-gradient(hsla(0,0%,100%,.2), transparent);
	/*使用linear-gradient線性漸層，弄出半透明的白色(淺色)或黑色(深色)覆蓋在主色上面*/
	border-radius:.2em;
	color: white;
	text-shadow: 0 -.05em .05em black;
	font-size: 125%;
	line-height: 1.5;
}
.ch1_button.cancel{
	background-color: #c00;
}
.ch1_button.ok{
	background-color: #6b0;
}
hr{
	height:  .1em;
	background: currentColor;
	/*currentColor自動取得文字的顏色*/
}
.callout{
	position: relative;
	background: rebeccapurple;
	padding: .7em;
	border: .5em;
}
.callout::after{
	content:"";
	position:absolute;
	top:-.3em;
	left:1em;
	padding:.35em;
	background: inherit;
	border: inherit;
	border-right:0;
	border-bottom:0;
	transform: rotate(45deg); 
}
.translucent-border{
	border:10px solid hsla(0,0%,0%,.5);
	background: black;
	background-clip: padding-box;
	/*background-clip預設為border-box，代表背景會延伸到邊框下方*/
	/*改為padding-box則只會涵蓋所有padding的範圍*/
	color:white;
	padding:10px;
}
.mutiple-borders{
	background-color: yellowgreen;
	box-shadow: 0 0 0 5px #655,
				0 0 0 10px deeppink,
				0 0 0 15px #7FC9FF,
				0 2px 5px 15px rgba(0,0,0,.6);
	/*用陰影的第4個參數（擴散半徑）製作出類似外邊框，因為是疊加的，越外面其擴散半徑要越大
	陰影製作的邊框不會影響到版型，也捕捉不到滑鼠事件，可以使用inset內陰影+內距邊界來模擬會佔據空間的邊框*/
	padding:10px;
	margin:20px;
}
.mutiple-borders-dashed{
	background-color:black;
	border:10px solid #655;
	outline: 1px dashed white;
	outline-offset:-15px;
	/*如果只需要兩個邊框，可以使用outline，它會在border的外圍
	可以使用outline-offset給予負值讓它成為內框*/
	padding:20px;
	color:white;
}
.extended-bg{
	background:	url("../image/hjs93j06.png") 
				no-repeat bottom right #7FFF8E;
	background-size: 10%;
	background-position: right 20px bottom 10px;
	/*使用background-position可以調整背景圖片的位置
	為了防止瀏覽器不支援background-position，可以在background加入bottom right確保至少背景圖片會在右下角*/
	padding:50px;
}
.bg-origin{
	background:	url("../image/hjs93j06.png") 
				no-repeat bottom right #FFE97F;
	background-size: 15%;
	background-origin: content-box;
	/*background-origin的預設值是padding-box，代表的是背景圖片涵蓋整個padding區塊
	改為content-box則只會涵蓋到content區塊，也因此會跟著被padding屬性壓縮*/
	padding:50px;
}
.bg-calc{
	background:	url("../image/hjs93j06.png") 
				no-repeat bottom right #7FFFFF;
	background-size: 15%;
	background-position: calc(100% - 50px) calc(100% - 5px);
	padding:50px;	
}
.inner-rounding{
	background: tan;
	border-radius: 1em;
	padding: 50px;
	box-shadow: 0 0 0 .4em #655;
	outline: 1em solid #655;
	margin:20px;
}
.horizontal-stripes{
	background: linear-gradient(#fb3 50%, #58a 0);
	background-size: 100% 30px;
	padding: 50px;
}
.vertical-stripes{
	background: linear-gradient(90deg, #fb3 50%, #58a 0);
	background-size: 30px 100% ;
	padding: 50px;
}
.diagonal-stripes{
	background: repeating-linear-gradient(45deg, #fb3 0, #fb3 15px, #58a 0, #58a 30px);
	padding: 50px;
}
.diagonal-stripes-60deg{
	background: repeating-linear-gradient(60deg, #fb3 0, #fb3 15px, #58a 0, #58a 30px);
	padding: 50px;
}
.subtle-stripes{
	background-color: red;
	background-image: repeating-linear-gradient(30deg, 
		hsla(0,0%,100%,.1) 0, hsla(0,0%,100%,.1) 15px, transparent 0, transparent 30px );
	/*transparent = hsla(0,0%,0%,0)*/
	/*等於覆蓋一層，淺白跟全透明交錯的條紋背景在最上面，就可以輕鬆切換要用什麼背景色*/
	/*並且當瀏覽器不支援css3時也可以直接使用普通底色*/
	padding: 50px;
}
.grid-bg{
	background-color: #7F92FF;
	background-image:	linear-gradient(white 2px, transparent 0),
						linear-gradient(90deg, white 1px, transparent 0),
						linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),
						linear-gradient(90deg, hsla(0,0%,100%,.3) 1px, transparent 0);
	background-size:75px 75px, 75px 75px,
					15px 15px, 15px 15px;
	padding: 50px;
}
.polka-bg{
	background-color:#655;
	background-image:	radial-gradient(tan 30%, transparent 0),
						radial-gradient(tan 30%, transparent 0); 
	background-size:30px 30px;
	background-position: 0 0, 15px 15px;
	padding: 50px;
}
.checkerbord-css{
	background: white;
	background-image:
		linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,.25) 0),
		linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,.25) 0);
	background-size:50px 50px;
	background-position: 0 0, 25px 25px;
	padding: 50px;
}
.checkerbord-svg{
	background: #eee url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25"> <rect x="50" width="50" height="50" /> <rect y="50" width="50" height="50" /> </svg>');
	background-size:30px 30px;
	padding: 50px;
}
.cicada-stripes{
	background-color: hsl(20, 40%, 90%);/*基底顏色*/
	background-image:	linear-gradient(90deg, #fb3 11px, transparent 0),
						linear-gradient(90deg, #ab4 23px, transparent 0),
						linear-gradient(90deg, #655 41px, transparent 0);
	background-size: 41px 100%, 61px 100%, 83px 100%;
	/*利用條紋寬度互質的特性可以模擬出像是隨機一樣，要在41x61x83後才會重覆*/
	padding: 50px;
}
.continuius-image-borders{
	padding: 50px;
	border: 1em solid transparent;
	background: linear-gradient(white, white) padding-box,
				url("../image/DSC02437.jpg") border-box 0/cover;
				/*0/cover 是代表 position / size*/
}
.vintage-envelope{
	padding: 50px;
	border:1em solid transparent;
	background: linear-gradient(white, white) padding-box,
				repeating-linear-gradient( -45deg, red 0, red 12.5%, white 0, white 25%, #58a 0, #58a 37.5%, white 0, white 50%) 0/5em 5em;
}

@keyframes ants{
	to{
		background-position: 100% 100%;
	}
}
.marching-ants{
	border: 1px solid transparent;
	background: linear-gradient(white, white) padding-box,
				repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0/.6em .6em;
	animation: ants 12s linear infinite;
	/*animation: 動畫名稱 完成所需時間 速度曲線 次數*/
	padding: 50px;
}
.half-ellipse{
	height:200px;
	width: 200px;
	background-color: red;
	border-radius: 50% / 50% 50% 50% 0;
	margin:20px;
}
.parallelograms{
	position: relative;
	padding: .5em 1em;
	margin: .2em;
}
.parallelograms::before{
	content:"";
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:-1;
	background-color: #58a;
	transform:skew(-45deg);
}
.picture{
	max-width: 250px;
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	/*polygon繪製多邊形，各參數都是以最左上角為起始點（向右　向下）畫一個點
	最後各點連接起來成為一個多邊形*/
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	transition: 1s;
}
.picture:hover{
	/*滑鼠移上去時變回正方形*/
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.bevel-corners-gradients{
	padding: 50px;
	background-color: #58a;
	background: linear-gradient(135deg, transparent 30px, #DAFF7F 0) top left,
				linear-gradient(225deg, transparent 30px, #FFE97F 0)top right,
				linear-gradient(-45deg, transparent 30px, #A5FF7F 0) bottom right,
				linear-gradient(45deg, transparent 30px, #7FFF8E 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.scoop-corners{
	padding: 50px;
	background-color: #DAFF7F;
	background: radial-gradient(circle at top left, transparent 30px, #DAFF7F 0) top left,
				radial-gradient(circle at top right, transparent 30px, #FFE97F 0)top right,
				radial-gradient(circle at bottom right, transparent 30px, #A5FF7F 0) bottom right,
				radial-gradient(circle at bottom left, transparent 30px, #7FFF8E 0) bottom left;
				/*radial-gradient 徑向漸變 circle at 圓形位置*/
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.bevel-corners-clipped{
	padding: 50px;
	background-color: #FF7FED;
	-webkit-clip-path:polygon(20px 0, calc(100% - 20px) 0,100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px );
	clip-path:polygon(20px 0, calc(100% - 20px) 0,100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px );
}