p{
	font-size: 18px;
}
body{
	font-family:微軟正黑體;
	background-color: #EEDFF0;
	background-image: url("../image/hjs93j06210.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;	
}
header{
	position: fixed;
	top:0;
	height:50px;
	width: 100vw;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	text-shadow:2px 2px 0 black;
	color:white;
	padding:5px 0 0 40px;
	background-color: maroon;
	z-index: 99;
}
#menuIcon{
	position: fixed;
	top:10px;
	left:10px;
	font-size: 30px;
	color: white;
	cursor:pointer;
	opacity: 1;
	z-index: 100;
}
#menuIcon:hover{
	opacity: 0.7;
}
#menu{
	position: fixed;
	top:0;
	left: -200px;
	height: 100vh;
	width:200px;
	background-color:#FFFFEE;
	text-align: center;
	font-size: 20px;
	z-index:101;
}
#menu img{
	width: 40%
}
#menu li{
	line-height: 40px;
	cursor: pointer;
}
#menu li:hover{
	color:#F00;
	font-weight: bold;
}
#main{
	min-height:100vh;
	max-width:100vw;
	color:maroon;
	padding-top: 100px;
}
a.noneAtag{
	text-decoration:none;
	color:maroon;
}
.box{
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
	margin-top:20px;
	padding:10px;
	border:1px solid white;
	border-radius: 2px;
	cursor:pointer;
	background-color: #BBD1E9;
}
p.content{
	font-size: 20px;
	margin-top:5px;
	color:maroon;
	font-weight: bold;
	text-shadow:1px 1px 5px white;
}
.miniBox{
	padding:10px;
	margin-bottom: 5px;
	background-color: #BBD1E9;
}
.miniBox p{
	font-size: 20px;
}
.miniBox img{
	max-width: 300px;
}
#jumpImage{
	position: fixed;
	top:0;
	padding-top:30px;
	text-align: center;
	width:100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 99999;
}
#jumpImage img{
	max-height:95vh;
	max-width:100vw;
}
#jumpImageS{
	position: absolute;
	top:0;
	padding-top:50px;
	text-align: center;
	min-width:100vw;
	min-height: 100vh;
	background-color: rgba(0,0,0,0.7);
	display: none;
	z-index: 99998;
}
#jumpImageS img{
	max-width: 150px;
	margin:10px 5px 5px 5px;
	cursor:pointer;
}
#jumpImageS button{
	position: fixed;
	top:0;
}
button#listLink{
	font-size: 24px;
}
#downBtn{
	position: fixed;
	right: 20px;
	bottom: 20px;
	max-width:75px;
	cursor:pointer;
	opacity: 0.1;
	display: none;
}
#downBtn:hover{
	opacity: 1;
}
#upBtn{
	position: fixed;
	right: 20px;
	bottom: 95px;
	max-width:75px;
	cursor:pointer;
	opacity: 0.1;
	display: none;
}
#upBtn:hover{
	opacity: 1;
}
.btn-block{
	font-size:22px;
	font-weight:bold;
	text-shadow:1px 1px 0 black;
	border-radius: 0;
}
.reqComm{
	position: fixed;
	padding:10px;
	max-width:90%;
	color:black;
	background-color:rgba(182,240,128,1);
	display: none;
}
.reqComm img{
	max-width:100px;
}
.reqComm span{
	font-size:10px;
}
.reqComm p{
	font-size:14px;
}

@media (max-width: 500px){
	header{
		font-size: 16px;
		padding-top:10px;
	}
}
